.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url('https://pixabay.com/get/gada036a2a8e9e649b3507f7eba5ab0dd6d8bd2a9dee2016093c06cc34320ee078ea82201ae3e3b88a72b15dd981bcb74_1920.jpg');
}
